<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Search!</title>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>


	<center>
		<div id="header"><img src="images/header.jpg"></div>
	</center>

	<center> 
	<div ng-app="pkmnApp" ng-controller="pokemonCtrl"> 

 <h1> Search For A Card </h1>
 <form>
 	<input type="text" id="search">
 	</p>

 	<button ng-click="findPokemon()">Search!</button></form>

 	<div class="pokemoncards" ng-repeat="x in outputField">
 		<a href="{{ x.imageUrl }}/">
			<a><h1>{{ x.name }}</h1></a>

			<h2>{{ x.nationalPokedexNumber }} </h2>

			<h4>{{ x.id }}</h4>

			<h4>{{ x.set }}</h4>

			<h3> {{ x.rarity }} </h3>

		</div>
</div>



<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script type="text/javascript" src="scripts/myscripts.js"></script>


</body>
</html>